<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Create New Blog</div>
    <div class="page__content shadow p-3 position-relative">
      <!-- <div class="page__content-data position-absolute"> -->
       
      <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Blog Title</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter blog title">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Author</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Name of the Author">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Blog Content</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleFormControlFile1">Blog Cover Image</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>

    <button type="button" class="btn btn-primary btn-lg">Publish</button>
  </form>
<!-- </div> -->
</div>
</div>
