<section class="policy">
    <div class="containers text-center">
      <div class="row">
  
        <div class="col-md-4">
          <div class="policy-card">
            <div class="round">
              <div class="round-icon">
                <i class="fas fa-mouse-pointer"></i>
              </div>
            </div>
            <h2>Choose Your Template</h2>
            <p>A career diplomat knows what information should be given and which to hold back. </p>
       </div>
      </div>
  
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fas fa-clipboard-list"></i>
            </div>
          </div>
          <h2>Add Info</h2>
          <p>Complement Your Resume With a Cover Letter </p>
     </div>
    </div>
  
    <div class="col-md-4">
      <div class="policy-card">
        <div class="round">
          <div class="round-icon">
            <i class="far fa-save"></i>
          </div>
        </div>
        <h2>Save Your Template</h2>
        <p>Proofread, Save & Email Your Resume the Right Way</p>
   </div>
  </div>
  
  
    </div>
  
    </div>
  </section>
  
  
  <section class="policy-product">
    <div class="containers">
      <div class="row">
        <div class="col-md-4">
          <div class="policy-p-card">
                <div class=date>
                  <h3>01</h3>
                  <h4>Template 1</h4>
                </div>
                    <div class="policy-image">
                      <img src="./assets/images/temp1.jpeg" alt="Template1">
                    </div>
                    <div class="button"><a type="button" (click)="temp1()" >  Select Template </a></div> 
                     <h2>Neo Classic</h2>
                    <p>Both eye-catching and tasteful. Perfect blend of traditional and modern.</p>
                    <a type="button" (click)="generatelink('template1')" class="read-more">Create link and send To Mail<i class="fa fa-caret-right"></i></a>              
            </div>          
          </div>
  
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class=date>
              <h3>02</h3>
              <h4>Template 2</h4>
            </div>
                <div class="policy-image">
                 
                <img src="./assets/images/temp2.jpeg" alt="Template1">
              </div>
              <div class="button"><a type="button" (click)="temp2()" >  Select Template </a></div> 
                <h2>Executive</h2>
                <p>A resume template that is guaranteed to impress. Plenty of information, no clutter.</p>
                <a type="button" (click)="generatelink('template2')" class="read-more">Create link and send To Mail<i class="fa fa-caret-right"></i></a>              
        </div> 
        </div>
  
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class=date>
              <h3>03</h3>
              <h4>Template 3</h4>
            </div>
                <div class="policy-image">
                  <img src="./assets/images/temp3.png" alt="Template1">
                </div>
                <div class="button"><a type="button" (click)="temp3()" >  Select Template </a></div> 
                <h2>Modern Teal</h2>
                <p>A modern template that stands out with 2 distinct columns.Two columns that help focus on your experience.</p>
                <a  type="button" (click)="generatelink('template3')" class="read-more">Create link and send To Mail<i class="fa fa-caret-right"></i></a>              
        </div> 
        </div>
  
      </div>
    </div>
  </section>







