
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Manage All Users</div>
    <div class="page__content shadow p-3 position-relative">
      <!-- <div class="page__content-data position-absolute"> -->
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Rating</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let i of user;let j=index">
                <th scope="row">{{j+1}}</th>
                <td>{{i.username}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phonenumber}}</td>
                <td>{{i.star}}/5</td>
                <td>
                  <button type="button" class="btn btn-outline-danger" (click)="delete(i)">Delete</button>
                </td>
              </tr>
              
              
            </tbody>
          </table>
          
               <!-- </div> -->
    </div>
  </div>
  
