<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute">
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://cdn-images.zety.com/images/zety/landings/examples/teacher-resume-example@3x.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Template 1</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://d.novoresume.com/images/doc/simple-resume-template.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Template 2</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="https://i.pinimg.com/originals/59/0e/07/590e07c78b0c34bf1e2738a793ecbfe5.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Template 3</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
    </div>
    </div>
  </div>
 
  
