/* .page {
    color: black;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 120px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  } */

  .containers{
    width: 90%;
    margin: 0 auto;
}

.policy{
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-origin: center;
    background-repeat: no-repeat;
    height: 380px;
    padding: 60px 0;

}

.round{
    padding: 23px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 34px;
    background: rgba(255, 255, 255, .2);
    transition: all .3s ease;
    margin: 0 auto;
    position: relative;


}

.round-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.policy-card h2{

  transition: all .3s ease;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 12px 0 5px;
  
}

.policy-card p{
  color: #dbdbdb;
  font-style: italic;
}

.policy-card:hover .round{
  background: #ff4000;
  cursor: pointer;
}

.policy-card:hover .h2{
  color: #ff4000;
  cursor: pointer;
}

.content h2{

  transition: all .3s ease;
  font-weight: 700;
  font-size: 16px;
  color: #2B3856;
  text-transform: uppercase;
  margin: 12px 0 5px;
  }

  .content p{
    color: #2B3856;
  font-style: italic;
  }

  .content {
    overflow: auto;
    text-align: center ;
  }
iframe{
  width: 400px;
  height: 200px;
}