<section class="policy">
  <div class="containers text-center">
    <div class="row">

      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="far fa-file"></i>
            </div>
          </div>
          <h2>Build a resume that gets you hired</h2>
          <p>You’re a lot of things. But you don’t have to be a resume writer. Don’t let your resume hold you back.</p>
     </div>
    </div>

    <div class="col-md-4">
      <div class="policy-card">
        <div class="round">
          <div class="round-icon">
            <i class="fas fa-hands-helping"></i>
          </div>
        </div>
        <h2>Get quality suggestions</h2>
        <p>You’ll get personalized help and excellent support. </p>
   </div>
  </div>

  <div class="col-md-4">
    <div class="policy-card">
      <div class="round">
        <div class="round-icon">
          <i class="fas fa-user-tie"></i>
        </div>
      </div>
      <h2>Land Your Dream Job</h2>
      <p>You’ll get exactly what you need to land the job you want. </p>
 </div>
</div>


  </div>

  </div>
</section>

<section>
  <div class="content">
    <h2>Choose the Right Resume Format</h2>
                <p>&nbsp;</p>
                <p>You can't just start writing a resume by putting your info together in the resume template all willy-nilly.</p>
                <!-- <p>&nbsp;</p> -->
                <p>Instead, first select from the standard resume formats:</p>
                <!-- <p>&nbsp;</p> -->
                <p><strong>Reverse-chronological format</strong></p>
                <p style="padding-left: 60px;"><strong>Pros</strong>
                  ": Traditional resume style, familiar to potential employers."
                </p>
                <p style="padding-left: 60px;"><strong>Cons</strong>
                  ": Very common, not the most creative resume design format."
                </p>
                <p><strong>Combination format
                </strong></p>
                <p style="padding-left: 60px;"><strong>Pros</strong>
                  ": Great for experienced pros and career changers for highlighting transferable skills."
                </p>
                <p style="padding-left: 60px;"><strong>Cons</strong>
                  ": Uncommon type, not as familiar, not recommended for entry-level job seekers."
                </p>
                <p><strong>Functional format (skills-based)
                </strong></p>
                <p style="padding-left: 60px;"><strong>Pros</strong>
                  ": Entry-level job hunters can emphasize skills over lack of experience."
                </p>
                <p style="padding-left: 60px;"><strong>Cons</strong>
                  ": HR managers may think you're hiding something."
                </p>


  </div>
  
</section>



