<div class="container">
  <div class="title">Personal Information</div>
  <div class="content">
    <form action="#" (ngSubmit)="resumedata1()"  #createform="ngForm">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Full Name</span>
          <input type="text"name="full_name" required="required" placeholder="Enter your name" [(ngModel)]="http.Resumedata.name"required>
        </div>
        
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" placeholder="Enter your email" required="required" name="email" [(ngModel)]="http.Resumedata.email" required>
        </div>
        <div class="input-box">
          <span class="details">Mobile Number</span>
          <input type="number"name="mobile" required="required" placeholder="Enter your  Mobile number" [(ngModel)]="http.Resumedata.phonenumber" required>
        </div>
        <div class="input-box">
          <span class="details">Birthday</span>
          <input type="date" id="birthday" required="required" placeholder="YYYY-MM-DD"name="dob" [(ngModel)]="http.Resumedata.dob">
        </div>
        <div class="input-box">
          <span class="details">Address</span>
          <input type="text" placeholder="Enter your Address" required="required" name="address"  [(ngModel)]="http.Resumedata.address"required>
        </div>
        <div class="input-box">
          <span class="details">About you</span>
          <input type="text" placeholder="Enter About you" required="required" name="about"  [(ngModel)]="http.Resumedata.about"required>
        </div>
      </div>
      <div class="gender-details">
        <!-- <div class="category"> -->
        <label  for="choose">Choose Gender</label>
<select placeholder="Degree" required="required" name="degree" [(ngModel)]="http.Resumedata.gender">
  <option class="gender">Male</option>
  <option>Female</option>
    </select>
       
          
      </div>
      <div class="button">
        
        <input [disabled]="createform.form.invalid" type="submit" value="Next Page"> 
      </div>
    </form>
  </div>
</div>