
<div id="makepdf" #makepdf>
<main class="CV-page">
    <h1 class="CV-primaryHeading">
      <span class="CV-primaryHeading-name">{{Resumedata.name}} </span><small class="CV-primaryHeading-position"> <span class="CV-u-nowrap"></span> </small>
    </h1>
    <div class="CV-details">
      <!-- <a class="CV-detail CV-detail--twitter" > -->
        <div class="CV-detail-key">
          {{Resumedata.phonenumber}}
        </div>
        <div class="CV-detail-val">
        {{Resumedata.email}}
        </div>
      <!-- </a><a class="CV-detail CV-detail--linkedin" href="https://au.linkedin.com/pub/davide-rizzo/a7/393/18"> -->
        <div class="CV-detail-key">
          {{Resumedata.dob}}
        </div>
        
        <div class="CV-detail-val">
          {{Resumedata.address}}
        </div>
      
    <p class="CV-introBlurb">
     {{Resumedata.about}}
    </p>
    <hr />
    
        <div class="CV-jobs">
          <h2 class="CV-secondaryHeading CV-jobs-heading">
            Employment history
          </h2>
          <section class="CV-timeline CV-job">
            <div *ngFor="let i of Resumedata.job">
            <h3 class="CV-timeline-heading">
              <span class="CV-timeline-heading-title">{{i.jobname}} </span>– <span class="CV-timeline-heading-location">{{i.companyname}} </span><small class="CV-timeline-heading-duration"></small>
            </h3>
            <ul class="CV-timeline-details">
               <li class="CV-timeline-details-item">
                {{i.jobdes}}
              </li> 
              <li class="CV-timeline-details-item">
                {{i.jobyear}}
              </li>        
            </ul>
            </div>
          </section>            
          
          
        </div>
      
      <div class="CV-grid-column CV-grid-column--right">
        <div class="CV-skills">
          <h2 class="CV-secondaryHeading CV-skills-heading">
            Technical Skills
          </h2>
          <br /><br />
          <div *ngFor="let i of Resumedata.skills">
          <ul class="CV-timeline-details">
            <li class="CV-timeline-details-item">
              {{i.skill}}
            </li>
            </ul>
        </div>
          
          <h3 class="CV-tertiaryHeading">
            Proficient Languages
          </h3>
          <div *ngFor="let i of Resumedata.languages">
          <ul class="CV-timeline-details">
            <li class="CV-timeline-details-item">
              {{i.language}}
            </li>
            </ul>
        </div>
        </div>
      </div>
    </div>
    <div class="CV-education">
      <h2 class="CV-secondaryHeading CV-education-heading">
        Education history
      </h2>
      <section class="CV-timeline CV-education-group">
        <div *ngFor="let i of Resumedata.education">
        <h3 class="CV-timeline-heading">
          <span class="CV-timeline-heading-title">{{i.degree}} </span><span class="CV-timeline-heading-location">{{i.name}} </span><small class="CV-timeline-heading-duration">{{i.year}}</small>
        </h3>
        <ul class="CV-timeline-details">
          <li class="CV-timeline-details-item">
           {{i.specialisation}}
          </li>
          </ul>
        </div>
      </section>
      
    </div>
  </main>
</div>
<div style="padding-bottom: 10px;">
  <button class='btn send' type="button" (click)="generatePdf()"><i class="fa fa-download"></i>Download</button>
<button style="float: right;" class='btn send' type="button"(click)="open(content)"><i class="fa fa-video"></i>my Video</button>
</div>
<div class="modal">
    <ng-template #content let-c="close" let-d="dismiss" >
    
    
        <div class="modal-header card-header" style="border-radius: 10px;">
          <h4 class="modal-title">About Me.</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span style="padding-right: 4px;" aria-hidden="true">&times;</span>
            </button>
        
       </div>
          <div class="modal-body">
            <youtube-player 
            videoId= {{Resumedata.video}} 
            suggestedQuality="highres" 
            [height]="230" 
            [width]="490" 
            [startSeconds]="4"
            [endSeconds]="8">
          </youtube-player>
          </div>
      
      </ng-template>
    
</div>
