<div class="container">
  <div class="title">Work Experience</div>
  <br>
  <div class="content">
    <form action="#" (ngSubmit)="resumedata3()">
      
      <div *ngFor="let i of http.Resumedata.job;let j=index">
        <div class="user-details">
                             
           
           <div class="input-box">
            <span class="details">Job Name</span>
            <input type="text"  placeholder="Enter your job name" name="job{{j}}"  [(ngModel)]="i.jobname" required>
          </div>

          <div class="input-box">
            <span class="details">Experience in years</span>
            <input type="number"  placeholder="Enter your Experience Year" name="jobyear{{j}}"  [(ngModel)]="i.jobyear" required>
          </div>

          <div class="input-box">
            <span class="details">Organisation  Name</span>
            <input type="text" placeholder="Enter your Institution" name="name{{j}}"  [(ngModel)]="i.companyname" required>
          </div>
        
        <div class="input-box">
          <span class="details">Description</span>
          <textarea placeholder="Describe" name="Description{{j}}"  [(ngModel)]="i.jobdes" required></textarea>
        </div>
      </div>

          <div class="buttoner">
            <input type="button" value="Delete" (click)="del(i)"> 
         </div>
             
                     
          </div>
       
          <div class="buttoned">
            <input type="button" value="Add" (click)="insert()"> 
           </div>
       
          <div class="button">
            <input type="submit" value="Next Page"> 
            <a routerLink="/user/form2"><input type="button" value="Back Page"></a>
          </div>
        
        </form>
      </div>
    </div>