<app-header></app-header>
<div class="register-photo" style="margin-top: 80px; position: relative">
  <div class="form-container">
    <div class="image-holder"></div>
    <form method="post" [formGroup]="userForm" (ngSubmit)="signupUser()">
      <h2 class="text-center"><strong>Create</strong> an account.</h2>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          formControlName="firstName"
          placeholder="First Name"
        />
        <div *ngIf="isValid('firstName')" class="smal">First name required</div>
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          placeholder="Last Name"
          formControlName="lastName"
        />
        <div *ngIf="isValid('lastName')" class="smal">Last name required</div>
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="email"
          formControlName="email"
          placeholder="Email"
        />

        <!-- Email Error Display Starts -->
        <div *ngIf="isValid('email')" class="smal">Invalid email</div>
        <!-- Email Error Display Ends -->
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <!-- Password Error Display Starts -->
        <div *ngIf="isValid('password')" class="smal">Invalid password</div>
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="number"
          placeholder="Your Mobile No."
          formControlName="phone"
        />
        <div *ngIf="isValid('phone')" class="smal">Invalid mobile number</div>
        <!-- Mobile No Error Display Ends -->
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label"
            ><input class="form-check-input" type="checkbox" />I agree to the
            license terms.</label
          >
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
