<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
        <div class="row mr-2 ml-auto">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                      <img src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" class="user-image mr-1 p-2"/>
                     User Name
                      <mat-icon class="user-image-icon ml-1">
                          keyboard_arrow_down
                      </mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logoutUser()">
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                            </button>
                    </mat-menu>
                    
                </li>

            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

