<mat-nav-list>
    <div class="proname py-4">
        <h4 class="title">E ResumeBuilderApp</h4>
    </div>
   
    <mat-divider></mat-divider>
    <h2 matSubheader class="title mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="Home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>Home</a>
    <a mat-list-item routerLink="manage-users" routerLinkActive="list-item-active"><mat-icon>portrait</mat-icon>Manage Users</a>
    <!-- <a class="dis" [disabled]="true" mat-list-item routerLink="admin-dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Dashboard</a> -->
    <a mat-list-item routerLink="inbox" routerLinkActive="list-item-active"><mat-icon>email</mat-icon>Inbox</a>
    <a mat-list-item routerLink="manage-resumes" routerLinkActive="list-item-active"><mat-icon>list_alt</mat-icon>Manage Resumes</a>

    <a mat-list-item routerLink="add-blog" routerLinkActive="list-item-active"><mat-icon>local_library</mat-icon>Add New Blog</a>
</mat-nav-list>

